<configuration>
  <appSettings>
    <add key="allors.logging.asp.enabled" value="true"/>
  </appSettings>
  <connectionStrings/>

  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"/>
    </authentication>
    
    <membership defaultProvider="MockedMembershipProvider">
      <providers>
        <clear/>
        <add name="MockedMembershipProvider" type="Allors.Testing.Webforms.Tests.MockedMembershipProvider"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="MockedRoleProvider">
      <providers>
        <clear/>
        <add name="MockedRoleProvider" type="Allors.Testing.Webforms.Tests.MockedRoleProvider"/>
      </providers>
    </roleManager>
    
    <httpHandlers>
      <add verb="GET,POST" path="/HttpHandler" validate="false" type="Allors.Testing.Webforms.Tests.MockedHttpHandler"/>
      <add verb="GET,POST" path="/HttpHandler2/*" validate="false" type="Allors.Testing.Webforms.Tests.MockedHttpHandler2"/>
    </httpHandlers>

    <pages>
      <controls>
          <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web" />
      </controls>
    </pages>

  </system.web>
  
  <location path="TestersOnly">
    <system.web>
      <authorization>
        <allow roles="Testers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>