<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0" -->
  <appSettings>
    <add key="allors.logging.asp.enabled" value="true"/>
  </appSettings>
  <connectionStrings/>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"/>
    </authentication>
    
    <membership defaultProvider="MockedMembershipProvider">
      <providers>
        <clear/>
        <add name="MockedMembershipProvider" type="Allors.Testing.Webforms.Tests.MockedMembershipProvider"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="MockedRoleProvider">
      <providers>
        <clear/>
        <add name="MockedRoleProvider" type="Allors.Testing.Webforms.Tests.MockedRoleProvider"/>
      </providers>
    </roleManager>
    
    <httpHandlers>
      <add verb="GET,POST" path="/HttpHandler" validate="false" type="Allors.Testing.Webforms.Tests.MockedHttpHandler"/>
      <add verb="GET,POST" path="/HttpHandler2/*" validate="false" type="Allors.Testing.Webforms.Tests.MockedHttpHandler2"/>
    </httpHandlers>

    <pages />

  </system.web>
  
  <location path="TestersOnly">
    <system.web>
      <authorization>
        <allow roles="Testers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>